<?xml version="1.0"?>
<config>
    <modules>
        <Stuntcoders_GoogleOAuth>
            <version>0.1.0</version>
        </Stuntcoders_GoogleOAuth>
    </modules>
    <global>
        <models>
            <stuntcoders_googleoauth>
                <class>Stuntcoders_GoogleOAuth_Model</class>
                <resourceModel>stuntcoders_googleoauth_resource</resourceModel>
            </stuntcoders_googleoauth>
            <stuntcoders_googleoauth_resource>
                <class>Stuntcoders_GoogleOAuth_Model_Resource</class>
            </stuntcoders_googleoauth_resource>
        </models>
        <blocks>
            <stuntcoders_googleoauth>
                <class>Stuntcoders_GoogleOAuth_Block</class>
            </stuntcoders_googleoauth>
        </blocks>
        <helpers>
            <stuntcoders_googleoauth>
                <class>Stuntcoders_GoogleOAuth_Helper</class>
            </stuntcoders_googleoauth>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <stuntcoders_googleoauth before="Mage_Adminhtml">Stuntcoders_GoogleOAuth_Adminhtml</stuntcoders_googleoauth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <stuntcoders_googleoauth>
                    <file>stuntcoders/googleoauth.xml</file>
                </stuntcoders_googleoauth>
            </updates>
        </layout>
    </adminhtml>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stuntcoders_googleoauth>
                                            <title>Admin Google OAuth login</title>
                                        </stuntcoders_googleoauth>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <stuntcoders_googleoauth>
            <google>
                <enable>1</enable>
            </google>
        </stuntcoders_googleoauth>
    </default>
</config>
